.btn-darker{	
    border-color: #eee;
    color: #eee;
}
.btn-darker:hover{
	background-color: #eee;
}
.btn-darker.active{
	background-color: #eee;
	color: #696969;
}

#info-panel{
	position: absolute;
	width:100%;
	top: calc(100% - 2em);
	left:0;
	color: #D1D1D1;

	box-shadow: 0px -5px 5px 0px rgba(255,255,255,0.5);
	background: rgba(033,033,033,0.8);
}

#info-panel .manual{
	font-size: 1em;
	line-height: 2em;
}

#info-panel .site-header{
	overflow: hidden;
	font-size: 0.8em;
}

#info-panel .site-header > div{	
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	width:49%;
}

#info-panel .site-header .title{
	padding-left:0.5em;
}

#info-panel .site-header .siteGroup{
	color:#fff;
	font-size: 0.7em;
	font-weight: 700;
}

#info-panel .site-header .siteName{
	line-height: 1em;
}
#info-panel .site-header .measures{
	text-align: right;
}
#info-panel .site-header .measure{
	text-align: left;
	display: inline-block;
	vertical-align: top;
	width:3.0em;
	height:2.5em;
	margin-left:0.1em;
}

	#info-panel .site-header .measures .header{
		font-size: .7em;
	}
	#info-panel .site-header .measures .header > div{
		display: inline-block;
	}
		#info-panel .site-header .measures .type{
			font-weight: 300;
		}
		#info-panel .site-header .measures .unit{
			font-size:0.7em;
			font-weight: 300;
		}
		#info-panel .site-header .measures .value{
			text-align: right;
			line-height: 1em;
			font-size:1.3em;
		}

#info-panel .chart-section{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 0.5em;
	position: relative;
}

#info-panel .label-section > div{
	margin: 0.2em 0;
}

#info-panel .label-section .label{
	font-weight: 100;
}

#info-panel .label-section div > div{
	display: inline-block;
}

#info-panel .time{
	font-size:0.8em;
}

#info-panel .label-section .resource-label{
	text-align: right;
}

#chart-control{
	cursor: pointer;
}

#info-panel .announcement{
	width: 100%;
	font-size:0.8em;
	margin-top: 1em;
	margin-bottom: 0.3em;
	padding-left:0.5em;
	padding-right:0.5em;
	text-align: center;
	color:#8E9090;
	font-weight: 100;
}

/* loading */
.loading{ 
	display: none; 
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;   
    position: absolute;
    top: 0;
    left: 0;
    
}
.spinner {	 
	position:absolute; 
	top:50%; 
	left:50%;
	margin-left:-25px;
	margin-top:-25px;
	height:50px;
}

.spinner > div {
  background-color: #eee;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}