
#info-panel{
	position: absolute;
	width:100%;
	top: calc(100% - 4em);
	left:0;
	color: #333;
	padding-top: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 3em;

	box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.4);

	background: rgba(255,255,255,0.7);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(230,230,230,0.7) 50%, rgba(224,221,224,0.7) 51%, rgba(254,254,254,0.7) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.7)), color-stop(50%, rgba(230,230,230,0.7)), color-stop(51%, rgba(224,221,224,0.7)), color-stop(100%, rgba(254,254,254,0.7)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(230,230,230,0.7) 50%, rgba(224,221,224,0.7) 51%, rgba(254,254,254,0.7) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(230,230,230,0.7) 50%, rgba(224,221,224,0.7) 51%, rgba(254,254,254,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(230,230,230,0.7) 50%, rgba(224,221,224,0.7) 51%, rgba(254,254,254,0.7) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%, rgba(230,230,230,0.7) 50%, rgba(224,221,224,0.7) 51%, rgba(254,254,254,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe', GradientType=0 );
}

#info-panel .manual{
	font-size: 1.6em;
	line-height: 2.5em;
}

#info-panel .content{
	padding-left:0.5em;
	padding-right:0.5em;
}

#info-panel .label{
	/*font-size:100%;
	line-height: 105%;*/
}
#info-panel .site-header{
	overflow: hidden;
}
#info-panel .site-header .siteName{
	font-size: 1.5em;
	line-height: 2.5em;
	white-space: nowrap;
	overflow: hidden;	
}
#info-panel .site-header .measures{
	text-align: right;
}
#info-panel .site-header .measure{
	text-align: left;
	display: inline-block;
	width:6em;
	height:3.0em;
	position: relative;
	margin-left:0.5em;
}
#info-panel .site-header .type{
	font-size:0.9em;
}
#info-panel .site-header .value-container{
	position: absolute;
	right:0; bottom:0;
	line-height: 100%;
}
#info-panel .site-header .value{	
	font-size:1.8em;
}
#info-panel .site-header .unit{	
	font-size:0.8em;
}

#info-panel .label-section > div{
	display: inline-block;
	line-height: 300%;
}

#info-panel .announcement{
	position: absolute;
	left:0;
	bottom: 0;
	width: 100%;
	padding-left:0.5em;
	padding-right:0.5em;
	text-align: center;
}

#info-panel .detail-data .head{
	font-size: 120%;
	font-weight: bolder;
	width:6em;
	text-align: center;
	vertical-align: middle;
}
#info-panel .detail-data .measure{
	display: inline-block;
	line-height: 250%;
	margin-right:0.5em;
}