@media (max-width: 512px) { 
	body{ font-size:12px; }
}

@media (max-width: 768px) { 
	body{ font-size:16px; }
}
@media (max-width: 992px) { 
	body{ font-size:18px; }
}
@media (min-width: 993px) { 
	body{ font-size:20px; }
}

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }


html, body{ 
	width:100%; 
	height:100%; 
	margin:0; 
	overflow-x: hidden;
	background: #232F3A;
	font-family: 'Noto Sans TC', sans-serif;
}

.map-container{
	width:100%;
	height: calc(100% - 2em);
	position: fixed;
	top:0;
	left:0;
}

#map{ 
	width:100%;
	height:100%; 
}

#siteLogo{
	position:absolute;
	top:0.5em; left:0.5em;
	z-index:2;
	width:170px;
}
#siteLogo img{
	filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 5px #fff);
	-webkit-filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 5px #fff);
}

#geoLocate{
	margin: 0 0 -5px 10px;
}
#geoLocate > button{
	background-color: #fff;
    border: medium none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 28px;
    margin-right: 10px;
    outline: medium none;
    padding: 0;
    width: 28px;
}
#geoLocate .icon-gps{
	background-image: url("https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 180px 18px;
    height: 18px;
    margin: 5px;
    width: 18px;
}
#geoLocate .icon-gps.gps-located{
	background-position: -144px 0;
}
#geoLocate .icon-gps.gps-unlocate{
	background-position: -18px 0;
}


#navigator{ 
	position: absolute; 
	top:2.5em; left:10px; 
	width:2em; 
	z-index:2; 
	opacity: 0.8;
}
#navigator > .btn{
	padding: 4px 7px;
	margin-top: 0.2em;
	overflow: hidden;
}
#navigator > .btn .short{ display: inline; }
#navigator > .btn .long{ display: none; }
#navigator > .btn:hover .short{ display: none; }
#navigator > .btn:hover .long{ display: inline; }

.navigator{ 
	background: #fff;
	min-width: 8.5em;
	min-height: 5em;
	position: absolute;
	border-radius: 8px;
	padding:10px;
	font-size: 0.7em;
}
.navigator > div{
	margin: 0 auto;
}
.navigator > .header {	
	text-align: center;
	font-size: 1.1em;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.navigator > .glyphicon{
	position: absolute;
	left: -10px;
	top: 10px;
	display: block;
	color: #fff;
}

#windLayerCtrl{
	max-width: 15em;
}
#windLayerCtrl .msg{
	text-align: center;
}
#windLayerCtrl .switch{
	text-align: center;
}
#windLayerCtrl label{
	font-weight: normal;
	font-size: 0.9em;
}
#windLayerCtrl .slider{
	width: 90%;
	margin: 0 5px;
}
#windLayerCtrl .help-block{
	margin-left: 1.2em;
	text-indent: -0.6em ;
	font-size: 0.9em;
}

#about{ min-width: 25em; }

#disqus_panel{
	position: absolute;
	top:0; right: 0;
	width:310px;
	height:calc(100% - 8em);
	padding: 10px;
	padding-right: 5px;
	margin: 10px;
	background: #fff;
	border-radius: 5px;
	display: none;
	z-index: 3;
}
#disqus_panel .close{ margin-right: 5px; }
#disqus_panel .title{ 
	font-size: 0.8em; 
	overflow: hidden; 
	white-space: nowrap; 
	margin-bottom: 5px; 
}
#disqus_thread{ 
	height: calc(100% - 1.2em); 
	overflow-y: auto; 
	padding-right:10px; 
}

.SvgOverlay {
	position: absolute;
	width: 900px;
	height: 600px;
	display: none;
}

.SvgOverlay svg {
	position: absolute;
	top: -4000px;
	left: -4000px;
	width: 8000px;
	height: 8000px; 
	opacity: 0.5;
    /*background-color: #000;*/
}

.SvgOverlay svg path{
	opacity:0.5;
	stroke: white;
	stroke-width: 3;
}
